*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --text-first-color: white;
    --text-second-color: rgb(66, 62, 62);
    --hover-color : grey;
    --about-font-size: 20px;
    --letter-spacing: 5px;
    --text-font-size: 12px; 
    --title-first-size: 8px;
    --btn-bg-color: rgb(37, 28, 28);
}
/*styling the header*/
/*giving the header a height and a background*/
header{
    background: url(images/header-banner.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
/*styling the position and the background lightness of the content*/
.header-content{
    background-color: rgba(0, 0, 0, 0.473);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding-bottom: 50px;
    padding-left: 5%;
    color: var(--text-first-color);
}
/*styling the name*/
header .person-name{
    margin: 20px 0px;
    
}
/*adding spaces between letters*/
header .person-name h5{
    font-weight: lighter;
    letter-spacing: var(--letter-spacing);
}
/*styling the social links*/
header .social-links a{
    text-decoration: none;
    color: var(--text-color);
    margin-right: 20px;
    transition: .5s;
}
/*adding a hover effect to the social links*/
header .social-links a:hover{
    color: var(--hover-color);
}
/*-------------- about page------------*/
/*styling the about page and the position of the elements*/
.about-page{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
/*styling the size of the pic*/
.person-pic img{
    width: 300px;
}
/*styling the text underneath the picture*/
.about-page .information{
    margin-top: 30px;
}
/*styling the about me title*/
.about-page .about{
    font-size: var(--about-font-size);
    letter-spacing: var(--letter-spacing);
    margin-bottom: 20px;
    position: relative;
}
/*adding a line under the about title*/
.about-page .about::after{
    content: "";
    height: 3px;
    width: 60px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -10px;
}
/*styling the size and the position of the text under the pic*/
.about-page .information p{
    margin-top: 40px;
    font-size: var(--text-font-size);
    color: var(--text-second-color);
}
/*------------- work page-------------*/
/*styling the background of work page*/
.work-page{
    height: 100%;
    background: url(images/work-pic.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(207, 207, 207);
    font-size: var(--text-font-size);
}
/*styling the content inside work page*/
.work-page .work-content{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    padding: 50px 5%;
    position: relative;
}
/*styling the title inside the work page*/
.work-page .work-content .title{
    font-size: var(--title-first-size);
    letter-spacing: 3px;
    margin-bottom: 40px;
}
/*adding line underneath title*/
.work-page .work-content .title::after{
    content: "";
    height: 4px;
    width: 50px;
    background-color: white;
    position: absolute;
}
/*styling the text inside work page*/
.work-page .work-content ul li{
    list-style-type: none;
    
}
/*styling the images */
.work-page .icons{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}
/*styling the size of the images*/
.work-page .work-content .icons img{
    width: 40px;
}
/*-----------project page-----------*/
.project-page{
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*styling the image size*/
.pics>div img{
    width: 300px;
    margin-top: 20px;
    transition: .4s;
}
/*styling the image hover*/
.project-page img:hover{
    transform: scale(90%);
}
/*styling the title*/
.project-page .title{
    font-size: 8px;
    width: 100%;
    font-weight: lighter;
    letter-spacing: var(--letter-spacing);
    margin-top: 40px;
    position: relative;
    
    
}
/*adding a line underneath the title*/
.project-page .title::after{
    content: "";
    height: 3px;
    width: 60px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 70px;
}
/*styling the images container*/
.pics{
    display: flex;
    flex-direction: column;
    
    margin-top: 60px;
}
/*------------contact page------------*/
.contact-page{
    height: 100%;
    padding: 5%;
    margin-top: 40px;
}
.contact-page .title{
    font-size: 8px;
    letter-spacing: 3px;
    margin-bottom: 40px;
    position: relative;
}
.contact-page .title::after{
    content: "";
    height: 3px;
    width: 60px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.contact-page .contact{
    font-size: 12px;
}
.contact-page .contact .phone{
    margin-bottom: 10px;
}
.contact-page .contact .email{
    margin-bottom: 10px;
}
.contact-page form input{
    margin-top: 10px;
    width: 300px;
    outline: none;
    padding-left: 3%;
    height: 30px;
}
.contact-page form button{
    margin-top: 10px;
    width: 120px;
    height: 40px;
    outline: none;
    border: none;
    color: var(--text-first-color);
    background-color: var(--btn-bg-color);
    letter-spacing: 2px;
    cursor: pointer;
    transition: .4s;
}
.contact-page form button:hover{
    transform: scale(105%);
}
.contact-page .contact-pic{
    margin-top: 40px;
}
.contact-page .contact-pic img{
    max-width: 300px;
}
.instagram-page{
    height: 100%;
    background: url(images/insta-pic.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.instagram-page .instagram-content{
    background-color: rgba(0, 0, 0, 0.541);
    padding: 5%;
    padding-bottom: 10%;
    color: var(--text-first-color);
}


/*styling the image hover*/
.instagram-content img:hover {
    transform: scale(90%);
}
.instagram-content .title {
    font-size: 8px;
    font-weight: lighter;
    letter-spacing: var(--letter-spacing);
    margin-top: 40px;
    position: relative;
}

/*adding a line underneath the title*/
.instagram-content .title::after {
    content: "";
    height: 3px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -10px;
}

/*styling the images container*/
.instagram-content .pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.instagram-content .pics .pic {
    height: 200px;
    width: 300px;
    margin-top: 20px;
}
.pic1{
    background: url(images/port-1.jpg) center no-repeat;
    background-size: cover;
}
.pic2{
    background: url(images/port-2.jpg) center no-repeat;
    background-size: cover;
}
.pic3{
    background: url(images/port-3.jpg) center no-repeat;
    background-size: cover;
}
.pic4{
    background: url(images/port-4.jpg) center no-repeat;
    background-size: cover;
}
footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--text-font-size);
    background-color: rgb(66, 55, 45);
    color: var(--text-first-color);
    padding: 10% 5%;
}
footer .circle{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: url(images/about-pic.jpg) center no-repeat;
    background-size: cover;
    margin: 20px 0px;
}
footer h1{
    margin-top: 40px;
    font-size: 16px;
}
footer ul{
    margin-top: 20px;
}
footer ul li,
footer ul li a{
    list-style-type: none;
    text-decoration: none;
    color: var(--text-first-color);
    margin-top: 15px;
}
.arrow{
    text-align: start;
    font-size: 50px;
    color: black;
    margin-top: 20px;
}
.work-page .arrow{
    color: white;
}

